
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #333;
  padding: 20px;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  cursor: pointer;
  color: #0030ff;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

img {
  width: 100%;
  height: auto;
}